@font-face {
    font-family: 'arnold';
    src: url('assets/arnold.woff') format('woff');
}

body {
    background-color: #00adab;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    scroll-behavior: smooth;
}

.hero-container {
    text-align: center;
}

nav {
    background-color: rgb(255, 255, 255, 0.75);
    padding-top: 3px;
    padding-bottom: 3px;
    width: 1000px;
    margin: 20px auto;
}

#ul-nav {
    text-align: center;
    padding-inline-start: 0px;
    font-size: 1.25em;
}

.nav-item { /*This style is on the <li> in nav*/
    list-style: none;
    display: inline;
    padding: 15px;

}

a:hover {
    background-color: #ffd504;
    color: black;
    
}

a:active {
    color: #d85936;
}

a:visited {
    color: #5f157a;
}

h1 {
    font-family: 'arnold', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #ffd504;
    -webkit-text-stroke: 0.75px black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.main {
    background-color: rgb(255, 255, 255, 0.75);
    width: 970px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    font-size: 1.10em; 
}

label {
    font-weight: 300;
}

#season1, #season2, #season3, #season4, #season5 {
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    /* width: 75%; */
}

#captcha {
    border-bottom: none !important;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: rgb(218, 218, 218);
}

 .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.grid-item {
    margin: 0 auto;
}

.grid-item:hover {
    background-color: #ffd504;
    width: fit-content;
}

footer {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}

