/* Bootstrap predefined colors:
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40; */


body {
    background-color: #343a40;
    font-size: 1.25rem;
    color: #f8f9fa;
}

img {
    /* margin-bottom: 50px; */
}

a {
    color: #53a6ff;
    text-decoration: underline;
}

a:hover {
    color: #ffd000;
    text-decoration: underline;
}

a:visited {
    color: #ff4ee2;
    text-decoration: underline;
}
  
/* I don't need these 2 classes for this project but I wanted to add them so I could reference the :not psuedo class in the future  */
/* a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
} */

.navbar-brand {
    font-size: 2.5rem;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
  }

.display-1 {
    font-size: 4rem;
    line-height: 1.25;
    color: #ffd000;
    text-align: center;
    margin-top: 10rem;

    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .display-2 {
    font-size: 2.5rem;
    color:rgb(0, 234, 255);
    margin-top: 0.75em;
    margin-bottom: 0.5em;
  }

  .btn-primary:hover {
    color: #343a40;
    background-color: rgb(0, 234, 255);
    border-color: rgb(0, 234, 255);
  }

  /* .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  } */

  .accordion {
      margin-top: 15px;
  }

  .card-body {
    color: #343a40;
  }





  

  /* .test {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 120px;
    border: 3px solid green;
    z-index: 1;
    
  } */